<div class="list-item">
  <a [routerLink]="getRoute(item)">
    <p class="list-item__name">
      {{ item.name }}
    </p>

    <ng-container [ngSwitch]="healthFeatureType">
      <p *ngSwitchCase="featureTypeMeal" class="list-item__ingredients">
        <span>
          {{ item.ingredients | join }}
        </span>
      </p>

      <p *ngSwitchCase="featureTypeWorkout" class="list-item__ingredients">
        {{ item | workout }}
      </p>

      <p *ngSwitchDefault class="list-item__ingredients">default {{ item }}</p>
    </ng-container>
  </a>

  <div class="list-item__delete" *ngIf="toggled">
    <p>Delete item?</p>
    <button class="confirm" type="button" (click)="removeItem()">Yes</button>
    <button class="cancel" type="button" (click)="toggle()">No</button>
  </div>

  <button class="trash" type="button" (click)="toggle()">
    <img src="/assets/img/remove.svg" alt="Remove item" />
  </button>
</div>
